
<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__main">
    <app-big-card
    Id="{{p.id}}"
    *ngFor="let p of data"
    photoCover="{{p.photo}}"
    cardTitle="{{p.title}}"
    cardDescription="{{p.description}}"
    dateCover= "{{p.date}}"
    ></app-big-card>


  </div>
  <div class="articles__others">

    <app-small-card
    Id="{{p.id}}"
    *ngFor="let p of data"
    photoCover="{{p.photo}}"
    titleCover="{{p.title}}"
    dateCover="{{p.date}}"
    ></app-small-card>
  </div>
</div>
